#al-container {
    width: 15%;
    float: left;
    text-align: center;
    margin-top: 15px;
    max-width: 150px;
}

#al-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.al-header {
    margin-bottom: 20px;
    font-size: 20px;
}

.al-list-item {
    list-style: none;
}

.al-list-item label {
    list-style: none;
    font-weight: bold;
    color: red;
}

.al-info {
    font-size: 10px;
}

.al-dragged-onto label {
    color: green;
}
