
/* Make sure to append class names in each component with 'bc'
    All stylesheets still apply GLOBALLY to the whole app, so this is our way of modularizing it */

.bc-something {

}

.bc-something-else {

}

.bc-bar {

}

.bc-barChart {
    margin-top: 100px; 
}

.rect {
    /*pointer-events: all;*/
    position: relative;
}

.bc-active-bar {
    color: red;
}