#view {
    text-align: center;
    margin-top: 13em;
    width: 70%;
    float: left;
}

.variablesMenu {
    width: 30%;
    float: left;
    text-align: center;
    margin-top: 5em;
}

.variablesMenuHeader {
    margin-bottom: 20px;
}

.datum-text {
    
}

.data-btn {
    margin-top: 7em;
}