div {
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    color: #242729;
    min-width: 100%;
    font-size: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    vertical-align: baseline;/* Old browsers */
}

body {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

.btn {
    margin: 10px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.menu-container {
    height: 80%;
    width: 30%;
    float: left;
    margin-top: 15px;
}

/* Hovering buttons look (Quizlet) */
/* box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24); */